/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {width: 100%;}

body {font-family: sans-serif;}




/* COMMON */

.container-big {
    width: 70%;
    max-width: 900px;
    margin: 0 auto;

    /* debug */
    border: 2px solid coral;
    min-height: 200px;

}

.container-small {
    width: 60%;
    max-width: 900px;
    margin: 0 auto;

    /* debug */
    border: 2px solid coral;
    min-height: 200px;
}

.section {
    padding: 30px 0;
}

/* UTILITY */

.mb-30 {margin-bottom: 30px;}

/* TEXT AND PARAGRAPH */


/* HEADER */

.header {
    padding: 10px;

    /* debug */
    /* background-color: blanchedalmond; */
    border: 1px solid blue;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col1 {
    display: flex;
    width: 20%;
    /* debug */
    /* border: 1px solid ; */
}

.col2 {
    display: flex;
    width: 20%;
    /* debug */
    /* border: 1px solid; */
}

.menu1,
.menu2 {
    display: flex;
    list-style: none;
    margin-left: 8px;
}

.menu1 li {
    margin-left: 8px;
    list-style: none;
}

.menu2 li {
    margin-right: 20px;
}


.hero {

    background-color: #B4D0E6;
    
}

.row-hero {
    display: flex;
        justify-content: space-between;
        min-height: 300px;

}

.row-cards {
    display: flex;
    justify-content: space-between;
    /* row-gap: 10px; */

}

.col {

    width: calc(95% / 3);
    background-color: pink;
    color: black;
    border: 1px solid black;
    min-height: 300px;

}

.card {
    min-height: 400px;
}

.card-header {
    padding: 20px;
    background-color: darkseagreen;
}

.plan-title {
    padding: 20px;
}

.radio {
    padding: 20px;

}

.row-long-cards {
    display: flex;
    justify-content: center;
}

.box {

    background-color: pink;
    color: black;
    border: 1px solid black;
    min-height: 300px;
    width: 100%;
    padding-top: 20px;

}


.two-col {
    display: flex;
    justify-content: space-between;
    min-height: 300px;

}

.col-60 {
    width: 60%;
    /* background-color: khaki; */
        border: 1px solid black;
}

.col-40 {
    width: 40%;
    /* background-color: rgb(47, 238, 255); */
    border: 1px solid black;
}

.row-grid {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.col-grid {
    width: calc((100% - 40px) / 3);
    border: 1px solid black;
    min-height: 100px;
}


/* .card-grid {
    /* min-height: 100px; */



.text-container {
    border: 1px solid black;
}


/* footer */

.five-col {
    display: flex;
    /* border: 2px solid green; */
    min-height: 300px;
    padding-bottom: 10px;
}

.col-15 {
    background-color: #20B2AA;
    width: 40%;
    border: 1px solid black;
}


/* .col-40 {
    
    width: 40%;
    border: 1px solid black;
    background-color: #20B2AA;

} */


.flex {
    display: flex;
    justify-content: space-between;
    background-color: #7FFFD4;
    height: 40px;
    margin-top: 15px;
    padding: 20px 0px 20px;
    align-items: center;
}

.footer {
    background-color: #23272A;
    padding-top: 15px;
}

.item1 {
    background-color: #FFB6C1;
    padding: 5px;
    border: 1px solid #23272A;
}