/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    width: 100%;
}

body {
    font-family:sans-serif
}

/* COMMON */

.container-big {
    width: 70%;
    max-width: 900px;
    margin: 0 auto;

    /* debug */
    /* border: 2px solid coral; */
    /* min-height: 200px; */

}

.container-small {
    width: 60%;
    max-width: 900px;
    margin: 0 auto;

    /* debug */
    /* border: 2px solid coral;
    min-height: 200px; */
}

.section {
    padding: 30px 0;
}

.divider {width: 20%;}

/* UTILITY */

.plan-item {
    line-height: 30px;
    margin-bottom: 30px;
}

.plan-features {
    list-style: none;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-80 {
    margin-top: 80px;
}


/* .text-center {text-align: center;} */

/* .pad-left {padding-left: 10px;} */

/* BACKGROUND */

/* .bg-grey {} */

/* TITLE TEXT AND PARAGRAPH */

.text-partner {
    padding-top: 30px;
}

.professional {
    padding-top:15px ;
}

/* BUTTONS */
/* TODO: make button class kmore general and apply to other buttons in the code */
.btn {
    display: inline-block;
    padding: 0.4em 0.8em;
    border-radius: 50px;
    /* padding: 5px 10px; */
    text-decoration: none;
}

.btn-hero {
    display: inline-block;
    padding: 0.8em 0.6em;
    /* margin: auto auto */
}

.btn-light {
    color: white;
    background-color: #0061FE;
}

.btn-grey {
    display: inline-block;
    color: black;
    background-color:#FFFFFF;
    border: 1px solid #23272A;
    box-shadow: black;
    padding: 0.8em 0.6em;
    
}

a {
    text-decoration: none;
    color: #767676;
    text-align: center;
}

.plan-link {
    text-decoration: underline;
    color: #0061FE;
}


/* ICONS */

.check {color: #0061FE;
font-weight: bold;}

/* .fa-solid fa-arrow-down {} */

/* HEADER */

.header {
    padding: 10px;

    /* debug */
    /* background-color: blanchedalmond; */
    border: 1px solid blue;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col1 {
    display: flex;
    align-items: center;
    /* width: 20%; RIMUOVERE WIDTH QUANDO ELEMENTI STRINGONO */
    /* debug */
    /* border: 1px solid ; */
}

.col2 {
    display: flex;
    align-items: center;
    /* width: 20%; */
    /* debug */
    /* border: 1px solid; */
}

.menu1,
.menu2 {
    display: flex;
    list-style: none;
    margin-left: 8px;
}

.menu1 li {
    margin-left: 8px;
    list-style: none;
}

.menu2 li {
    margin-right: 20px;
}

/* HERO */

.hero-pic {
    margin-bottom: -80%;
    width: 140%
    /* position: absolute; */
    /* right: 0;
top: 0; */
}

.hero {

    background-color: #B4D0E6;
}

.row-hero {
    display: flex;
    justify-content: space-between;
    min-height: 300px;

}

.row-cards {
    display: flex;
    justify-content: space-between;
    /* row-gap: 10px; */

}

.col {

    width: calc(95% / 3);
    color: black;
    border: 1px solid black;
    min-height: 300px;
}

.rel {
    position: relative;
}

.card {
    min-height: 400px;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
}



.main-title {
    font-size: 3rem;
    font-weight: bold;

}

/* MAIN */

/* .plan-title {
    padding: 20px;
} */

.radio {
    padding: 20px;
}

/* 3 CARDS PLAN */

.card-body {
    padding: 1rem;
}

.row-long-cards {
    display: flex;
    justify-content: center;
}

.box {
    margin-top: 30px;
    color: black;
    width: 100%;
    border: 1px solid black;
}

/* .long-card-body {
    display: flex;
    justify-content: space-between;
} */

.mt-60 {margin-top: 60px;}

.two-col {
    display: flex;
    justify-content: space-between;
    min-height: 300px;
}


.col-60 {
    width: 60%;
    /* background-color: khaki; */
    /* border: 1px solid black; */
}

.col-40 {
    width: 40%;
    /* background-color: rgb(47, 238, 255); */
    /* border: 1px solid black; */
}

.row-grid {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.col-grid {
    width: calc((100% - 40px) / 3);
    border: 1px solid black;
    min-height: 100px;
}


/* .card-grid {
    /* min-height: 100px; */



.text-container {
    /* border: 1px solid black; */
}


/* footer */

.five-col {
    display: flex;
    /* border: 2px solid green; */
    min-height: 300px;
    padding-bottom: 10px;
}

.col-15 {
    background-color: #20B2AA;
    width: 40%;
    border: 1px solid black;
}


/* .col-40 {
    
    width: 40%;
    border: 1px solid black;
    background-color: #20B2AA;

} */


.flex {
    display: flex;
    justify-content: space-between;
    background-color: #7FFFD4;
    height: 40px;
    margin-top: 15px;
    padding: 20px 0px 20px;
    align-items: center;
}

.footer {
    background-color: #23272A;
    padding-top: 15px;
}

.item1 {
    background-color: #FFB6C1;
    padding: 5px;
    border: 1px solid #23272A;
}


label {
    cursor: pointer;
}